<h1>Cartes de Visites</h1>

<p>Veuillez renseigner le nom à faire figurer sur la carte de visite</p>

<%= form_tag(show_carte_path) do%>
  <%= text_field_tag 'nom' %>
  <%= submit_tag raw('Cr&eacute;er les cartes de Visites') %>
<%end%>
