

<% halfRegions = @regions.count / 2 %>
<table>
  <tr>
    <td>
      <% (0..halfRegions).each do |i| %>
        <h3 class='evenementsIndex'><%= @regions[i].to_s %></h3>
        <% @regions[i].evenements.each do |evt| %>
          <% if evt.ok? %>
            <b><%= evt.titre %></b><br />
          <% end %>
        <% end %>
        
      <% end %>
    </td>
    <td>
      <% (halfRegions+1..@regions.count-1).each do |i| %>
        <h3 class='evenementsIndex'><%= @regions[i].to_s %></h3>
        <% @regions[i].evenements.each do |evt| %>
          <% if evt.ok? %>
            <b><%= evt.titre %></b><br />
          <% end %>
        <% end %>
      <% end %>    
    </td>
  </tr>
</table>
